@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Archivo", sans-serif;
  min-width: 0;
  min-height: 0;
}

.display-none {
  display: none;
}

* {
  transition: color 0.1s;
}

::selection {
  background-color: #1DB954;
  color: #ffffff;
}

@layer base {
  body {
    @apply flex flex-col min-h-screen my-auto bg-primary dark:bg-dark-primary text-secondary dark:text-dark-secondary leading-loose;
  }


  main {
    @apply max-w-screen-xl my-4 lg:my-8 flex mx-4 px-4 xl:mx-auto flex-col;
  }

}


@layer components {
  .button-style {
    @apply bg-accent hover:bg-opacity-70 rounded-md xl:text-lg text-sm text-center duration-300 text-white py-2 px-4;
  }

  .component {
    @apply bg-none shadow-md dark:shadow-none shadow-secondary2 rounded-lg p-4 lg:p-8;
  }

  .grid-layout {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8;
  }

  .input {
    @apply bg-primary border-secondary border border-opacity-40 dark:shadow-none focus:outline-accent shadow-secondary2 dark:bg-shadow text-secondary dark:text-primary rounded-xl;
  }

  .input::placeholder {

    @apply text-secondary dark:text-primary opacity-90;
  }
}

@layer utilities {
  .h1 {
    @apply text-3xl xl:text-6xl tracking-tighter;
  }

  .h2 {
    @apply text-2xl xl:text-4xl tracking-tight;
  }

  .h3 {
    @apply text-xl xl:text-3xl tracking-tight;
  }

  .p {
    @apply text-base xl:text-xl;
  }
}